SITE_URL=https://tecmambo.com
GOOGLE_PREFERRED_SOURCE_ENABLED=false
GOOGLE_DISCOVER_URL=
WORDPRESS_GRAPHQL_ENDPOINT=https://cms.tecmambo.com/graphql
WORDPRESS_PREVIEW_SECRET=replace-me
REVALIDATE_SECRET=replace-me
WP_WEBHOOK_SECRET=replace-me
AI_TRAINING_ALLOWED=false
NEXT_PUBLIC_ADSENSE_ENABLED=false
NEXT_PUBLIC_COOKIEBOT_ID=
TYPESENSE_HOST=
TYPESENSE_PORT=443
TYPESENSE_PROTOCOL=https
TYPESENSE_SEARCH_ONLY_API_KEY=
GAM_NETWORK_CODE=
CMP_PUBLIC_ID=
NEXT_PUBLIC_ANALYTICS_DOMAIN=
